@import "tailwindcss";
@import "./assets/style/custom.scss";

form {
  .ng-invalid.ng-touched {
    &.p-dropdown,
    &.p-autocomplete .p-inputtext,
    &.p-multiselect,
    &.p-inputtext {
      border-color: var(--p-form-field-invalid-border-color);
    }
    .p-inputtext {
      border-color: var(--p-form-field-invalid-border-color); // Usando variáveis de cor do PrimeFlex
    }
    .p-calendar .p-inputtext {
      border-color: var(--p-form-field-invalid-border-color);
    }
    .p-checkbox-box,
    .p-radiobutton-box {
      border-color: var(--p-form-field-invalid-border-color);
    }
  }
}


