<div class="flex flex-col items-center md:flex-row md:justify-center md:items-start w-full gap-10 p-5">
  <form [formGroup]="formCliente" class="w-full md:w-[50vw] grid grid-cols-6 gap-y-5 gap-x-2">
    <div class="col-span-6 md:col-span-2">
      <p-inputmask mask="999.999.999-99" formControlName="cpf" styleClass="w-full"
        placeholder="CPF" [autoClear]=false
        appCpfValidator  />
    </div>
    <div class="col-span-3 md:col-span-2">
      <p-inputmask mask="99/99/9999" formControlName="data_nascimento" styleClass="w-full"
        placeholder="Nascimento" [autoClear]=false
        appDateValidator />
    </div>
    <div class="col-span-3 md:col-span-2">
      <p-inputmask mask="(99) 9 9999-999?9" formControlName="telefone" styleClass="w-full"
        placeholder="Telefone" [autoClear]=false />
    </div>
    <div class="col-span-6">
      <input type="text" pInputText formControlName="nome"
        class="w-full"
        placeholder="Nome completo" />
    </div>
    <div class="col-span-6">
      <p-inputmask mask="99.999-999" formControlName="cep" styleClass="w-full"
        placeholder="CEP" [autoClear]=false
        (onBlur)="buscarCEP()" />
    </div>
    <div class="col-span-3 md:col-span-2">
      <input type="text" pInputText formControlName="uf"
        class="w-full"
        placeholder="Estado" />
    </div>
    <div class="col-span-3 md:col-span-2">
      <input type="text" pInputText formControlName="cidade"
        class="w-full"
        placeholder="Cidade" />
    </div>
    <div class="col-span-6 md:col-span-2">
      <input type="text" pInputText formControlName="bairro"
        class="w-full"
        placeholder="Bairro" />
    </div>
    <div class="col-span-6 md:col-span-2">
      <input type="text" pInputText formControlName="email" id="email"
        class="w-full"
        placeholder="E-mail" autocomplete="off" />
    </div>
    <div class="col-span-3 md:col-span-2">
      <p-password formControlName="password" [toggleMask]="true" styleClass="w-full" inputStyleClass="w-full" placeholder="Senha"
        promptLabel="Digite uma senha" weakLabel="Senha fraca" mediumLabel="Senha mediana" strongLabel="Senha forte"
        inputId="password" autocomplete="new-password" />
    </div>
    <div class="col-span-3 md:col-span-2">
      <p-password formControlName="password_repeat" [toggleMask]="true" styleClass="w-full" inputStyleClass="w-full"
        promptLabel="Repita a senha" weakLabel="Senha fraca" mediumLabel="Senha mediana" strongLabel="Senha forte"
        placeholder="Confirmar"
        autocomplete="new-password" />
    </div>
  </form>
</div>
